body {
  margin: 0;
  background-color: #151515;
  color: #fff;
  font-family: sans-serif;
}

.drag {
  width: 100%;
  height: 22px;
  background-color: #111;
  -webkit-app-region: drag
}

main {
  padding: 30px;
}